html {
  --white: white
}

.li-container {
  padding: 0;
}

.li-container li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task__checked {
  opacity: 0.6;
  text-decoration: line-through #0D6F6FFF;
  font-style: italic;
}

.MuiIconButton-root {
  align-self: baseline;
}